<form class="copaair-booking  copaair-widget  copaair-theme-horizontal">
    <div class="copaair-booking-top  copaair-widget-layout">
        <div class="copaair-widget-layout__item">
            {{#if origin }}
                {{ form.origin }} <span class="js-copaair-trans">{{ originName }}</span>
            {{ else }}
                <input class="copaair-form-control  copaair-booking-autocomplete  js-booking-autocomplete"
                       type="text"
                       placeholder="{{ form.origin }}"
                       data-input-field="origin"
                       data-value="">
            {{/if}}
        </div
        ><div class="copaair-widget-layout__item">
            {{#if destination }}
                <div class="copaair-booking-preset-label">
                    {{ form.destination }}
                    <b class="copaair-booking-preset-label-destination  js-copaair-trans">
                        {{ destinationName }}
                    </b>
                </div>
            {{ else }}
                <input class="copaair-booking-autocomplete  copaair-form-control  js-booking-autocomplete"
                       type="text"
                       placeholder="{{ form.destination }}"
                       data-input-field="destination"
                       data-value="">
            {{/if}}
        </div
        ><div class="copaair-widget-layout__item">
            <div class="copaair-booking-datepicker-position">
                <input class="copaair-form-control  copaair-widget-datepicker  copaair-booking-datepicker-departure" placeholder="{{form.departure}}" type="text" required>
                <div class="copaair-booking-datepicker js-copaair-booking-datepicker-container"></div>
            </div>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control  copaair-widget-datepicker  copaair-booking-datepicker-return" placeholder="{{form.return}}" type="text" required>
        </div
        ><div class="copaair-widget-layout__item  copaair-booking-promo-code-item">
            <input class="copaair-form-control  copaair-booking-promo-code js-coupon-code-input" placeholder="{{form.promo}}" type="text">
        </div
        ><div class="copaair-widget-layout__item  copaair-hidden-palm">
            <input class="copaair-widget-submit  copaair-form-control js-submit" value="{{form.submit}}" type="submit">
        </div>
    </div>
    <div class="copaair-hidden  js-copaair-toggle">
        <div class="copaair-booking-bottom  copaair-widget-layout">
            <div class="copaair-booking-cabin  copaair-widget-layout__item">
                <label>
                    <input class="cabinClass js-cabin-class"
                           value="Economy"
                           type="radio"
                           checked="checked"
                           name="cabinClass"
                           required>&nbsp;
                    {{form.economic}}
                </label><br>

                <label>
                    <input class="cabinClass js-cabin-class"
                           value="Business"
                           type="radio"
                           name="cabinClass"
                           required>&nbsp;
                    {{form.business}}
                </label>
            </div
            ><div class="copaair-booking-passengers  copaair-widget-layout__item">
                <div class="copaair-widget-layout">
                    <label class="copaair-widget-layout__item  copaair-booking-text-right"
                           for="booking-passengers-adults">
                        {{form.adults}}<br class="copaair-hidden-palm"> (12+)
                    </label
                    ><div class="copaair-widget-layout__item">
                        <select class="copaair-booking-select  copaair-form-control  js-selectmenu js-adults-amount"
                                id="booking-passengers-adults">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div
            ><div class="copaair-booking-passengers  copaair-widget-layout__item">
                <div class="copaair-widget-layout">
                    <label class="copaair-widget-layout__item  copaair-widget-text-right"
                           for="booking-passengers-children">
                        {{form.children}}<br class="copaair-hidden-palm"> (2-11)
                    </label
                    ><div class="copaair-widget-layout__item">
                        <select class="copaair-booking-select  copaair-form-control  js-selectmenu js-children-amount"
                                id="booking-passengers-children">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div
            ><div class="copaair-booking-passengers  copaair-widget-layout__item">
                <div class="copaair-widget-layout">
                    <label class="copaair-widget-layout__item  copaair-booking-text-right"
                           for="booking-passengers-infants">
                        {{form.infants}}<br class="copaair-hidden-palm"> (0-1)
                    </label
                    ><div class="copaair-widget-layout__item">
                        <select class="copaair-booking-select  copaair-form-control  js-selectmenu js-infants-amount"
                                id="booking-passengers-infants">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div
            ><div class="copaair-widget-layout__item">
            </div>
        </div>
    </div>

    <button class="copaair-widget-close  js-copaair-close"></button>

    <div class="copaair-widget-wrapper  copaair-hidden-lap-and-up">
        <input class="copaair-widget-submit  copaair-form-control js-submit" value="{{form.submit}}" type="submit">
    </div>
</form>
