<form class="booking  booking-theme-horizontal">
    <div class="booking-wrapper">
        <div class="booking-top  booking-layout">
            <div class="booking-layout__item">
                <input class="booking-control  js-booking-autocomplete"
                       type="text"
                       placeholder="{{ form.origin }}"
                       data-input-field="origin">
                <input name="outboundOption.originLocationCode" type="hidden" value="" class="js-origin-input-outbound" data-validate="true">
                <input name="inboundOption.destinationLocationCode" type="hidden" value="" class="js-origin-input-inbound" data-validate="true">
            </div
            ><div class="booking-layout__item">
                <input class="booking-control  js-autocomplete"
                       type="text"
                       placeholder="{{ form.destination }}"
                       data-input-field="destination">
                <input name="outboundOption.destinationLocationCode" type="hidden" value="" class="js-destination-input-outbound" data-validate="true">
                <input name="inboundOption.originLocationCode" type="hidden" value="" class="js-destination-input-inbound" data-validate="true">
            </div
            ><div class="booking-layout__item">
                <input class="booking-control  booking-datepicker booking-datepicker-departure" placeholder="{{form.departure}}" type="text" required>
            </div
            ><div class="booking-layout__item">
                <input class="booking-control  booking-datepicker booking-datepicker-return" placeholder="{{form.return}}" type="text" required>
            </div
            ><div class="booking-layout__item  hidden-palm">
                <input class="booking-submit  booking-control" value="{{form.submit}}" type="submit">
            </div>
        </div>
    </div>
    <div class="booking-wrapper  js-booking-extra">
        <div class="booking-bottom  booking-layout">
            <div class="booking-layout__item">
                <label class="booking-cabin" for="flight-class-economic">
                    <input name="cabinClass"
                           value="Economy"
                           id="flight-class-economic"
                           type="radio"
                           checked="checked"
                           required>
                    {{form.economic}}
                </label
                ><label class="booking-cabin" for="flight-class-business">
                    <input name="cabinClass"
                           value="Business"
                           id="flight-class-business"
                           type="radio"
                           required>
                    {{form.business}}
                </label>
            </div
            ><div class="booking-passengers  booking-layout__item">
                <div class="booking-layout">
                    <label class="booking-layout__item  booking-text-right"
                           for="booking-passengers-adults">
                        {{form.adults}}<br class="hidden-palm"> (12+)
                    </label
                    ><div class="booking-layout__item">
                        <select class="booking-select  booking-control  js-selectmenu"
                                name="guestTypes[0].amount"
                                id="booking-passengers-adults">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div
            ><div class="booking-passengers  booking-layout__item">
                <div class="booking-layout">
                    <label class="booking-layout__item  booking-text-right"
                           for="booking-passengers-children">
                        {{form.children}}<br class="hidden-palm"> (2-11)
                    </label
                    ><div class="booking-layout__item">
                        <select class="booking-select  booking-control  js-selectmenu"
                                name="guestTypes[1].amount"
                                id="booking-passengers-children">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div
            ><div class="booking-passengers  booking-layout__item">
                <div class="booking-layout">
                    <label class="booking-layout__item  booking-text-right"
                           for="booking-passengers-infants">
                        {{form.infants}}<br class="hidden-palm"> (0-1)
                    </label
                    ><div class="booking-layout__item">
                        <select class="booking-select  booking-control  js-selectmenu"
                                name="guestTypes[2].amount"
                                id="booking-passengers-infants">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div
            ><div class="booking-layout__item">
                <input class="booking-control" placeholder="Código promocional" type="text">
            </div>
        </div>
    </div>

    <input name="tripType" value="RT" type="hidden">
    <input name="flexibleSearch" value="true" type="hidden">
    <input name="guestTypes[0].type" value="ADT" type="hidden">
    <input name="guestTypes[1].type" value="CNN" type="hidden">
    <input name="guestTypes[2].type" value="INF" type="hidden">
    <input name="lang" value="{{language}}" type="hidden">
    <input name="pos" value="CMGS" type="hidden">
    <input name="d1" value="" type="hidden">
    <input name="outboundOption.departureDay" value="" data-validate="true" type="hidden">
    <input name="outboundOption.departureMonth" value=""  data-validate="true" type="hidden">
    <input name="outboundOption.departureYear" value="" data-validate="true" type="hidden">
    <input name="inboundOption.departureDay" value=""  data-validate="true" type="hidden">
    <input name="inboundOption.departureMonth" value="" data-validate="true" type="hidden">
    <input name="inboundOption.departureYear" value=""  data-validate="true" type="hidden">

    <div class="booking-wrapper  hidden-lap-and-up">
        <input class="booking-submit  booking-control" value="{{form.submit}}" type="submit">
    </div>
</form>
