<form class="copaair-signup  copaair-widget  copaair-theme-default">
    <div class="copaair-widget-layout">
        <div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="text"
                   placeholder="{{ form.fname }}"
                   name="first_name"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="text"
                   placeholder="{{ form.lname }}"
                   name="last_name"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="email"
                   placeholder="{{ form.email }}"
                   name="email"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-widget-submit  copaair-form-control"
                   type="submit"
                   value="{{ form.subscribe }}">
        </div>
    </div>

    <div class="copaair-widget-layout  copaair-hidden  js-copaair-toggle">
        <div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="text"
                   placeholder="{{ form.country }}"
                   name="country"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="text"
                   placeholder="{{ form.city }}"
                   name="city"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
            <input class="copaair-form-control"
                   type="tel"
                   placeholder="{{ form.phone }}"
                   name="phone"
                   required>
        </div
        ><div class="copaair-widget-layout__item">
        </div>
    </div>
</form>
